
#searchInput {
    height: 55px;
    width: 700px;
    border-radius: 35px;
    border: 2px solid rgb(161, 157, 157);
    background-color: hwb(0 78% 10%);
    padding: 5px;
    background-color: transparent;
    border-color: none;
    border-width: 0.5px;
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/008/309/385/small/transparent-rectangular-glass-for-text-and-labels-signboard-png.png);
    background-position: center;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 120%; 
}


::placeholder {
    color: white;
    padding-left: 10px;
    font-size: 1.25rem;
}

#search {
    display: flex;
    justify-content: center;
    align-items: center; 
      
}

#searchBar{
    z-index: 1;
    position: relative; 
     
}
