#productDisplay {
    margin-top: 225px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 18px;
}
.productImg {
    max-width: 180px;
    max-height: 180px;
    margin: auto;
    
}

#card {
    display: grid;
    grid-template-rows: 3fr 1fr 30px 40px;
    background: #fcfcfc; 
    gap: 8px; 
   
    border-radius: 10px;
}



.name {
    font-weight: 700;
}

.brand {
    font-weight: 200;
}

.price {
    font-weight: 600;
}
