#productDisplay {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
    
    
}

#productImg {
   max-width: 200px;
    max-height: 200px;
}

#card{
    max-width: 220px;
    padding: 10px;
    margin: 10px;
    background-color: rgb(192, 230, 230);
    box-shadow: 0 0 50px rgb(196, 185, 185);
    border-radius: 10px;
    max-height: 400px;
    overflow: hidden;
}
