#bottomNavBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(8, 128, 184);
    height: 65px;
    font-size: 1.4rem;
    font-weight: 500;
    z-index: 2 ;
    position: fixed;
    bottom: 0;
    width: 100%;
    
  
}
nav a {
    text-decoration: underline;
    color: rgb(68, 32, 120);
}