

 #header p{
    background-image:url(https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_640.jpg);
    text-align: center;
    margin-top: 0;
    font-size: 4.5rem;
    display: inline-block;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    cursor: pointer;
    width: 100%;
    font-weight: 700;
    -webkit-text-stroke: 1px rgb(230, 220, 220);
}

#header{
    z-index: 1;
    position: relative; 
    /* height: 100vh;     */
}


    





